# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE/Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/

# MLOps / Data Science specific
data/
saved_model/
mlruns/
*.pkl
*.h5
*.joblib
*.onnx

# ZenML
.zen/

# Logs
*.log
